:root {
  --text-c: #000;
  --main-font-family: Roboto;
  --bg: #fff;
}

.main-text-block__list {
  font-size: 1rem;
}

.services__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.services__body >*:not(:last-child) {
  margin: 0 0 50px 0;
}

.services__services {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 50px;
}

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.service >*:not(:last-child) {
  margin: 0 0 15px 0;
}

.service >:last-child {
  margin-top: 10px;
}

.service >:first-child {
  margin-bottom: 25px;
}

.service__icon {
  width: 70px;
  height: 70px;
}

.partners-companies__body {
  overflow: hidden;
}

.partners-companies__body >*:not(:last-child) {
  margin: 0 0 50px 0;
}

.partners-companies__companies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 15px;
}

.partners-companies__company {
  background: #fff;
  padding: 50px;
}

@media (max-width: 768px) {
  .services__services {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
  }

  .service {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .partners-companies__companies-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    overflow: auto;
  }

  .partners-companies__company {
    padding: 10px;
    min-width: 220px;
    min-height: 150px;
  }
}

@media (max-width: 426px) {
  .partners-companies__body >*:not(:last-child) {
    margin: 0 0 20px 0;
  }
}