* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

input::-ms-clear {
  display: none;
}

input:focus-visible {
  outline: none;
}

button {
  cursor: pointer;
  background: none;
}

::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input,
button,
textarea {
  font-family: inherit;
}

a {
  display: inline-block;
  text-decoration: none;
}

a:hover,
a:visited {
  text-decoration: none;
}

a:active,
a:focus {
  outline: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

address {
  font-style: normal;
}

:root {
  --text-c: #000;
  --main-font-family: Roboto;
  --bg: #fff;
}

@font-face {
  font-family: 'Inter';
  font-display: swap;
  src: url("../fonts/Inter-VariableFont_slntwght.woff2") format("woff2-variations");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  font-display: swap;
  src: url("../fonts/Inter-VariableFont_slntwght.woff2") format("woff2-variations");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  font-display: swap;
  src: url("../fonts/Inter-VariableFont_slntwght.woff2") format("woff2-variations");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  font-display: swap;
  src: url("../fonts/Inter-VariableFont_slntwght.woff2") format("woff2-variations");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  font-display: swap;
  src: url("../fonts/Inter-VariableFont_slntwght.woff2") format("woff2-variations");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  font-display: swap;
  src: url("../fonts/Inter-VariableFont_slntwght.woff2") format("woff2-variations");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  font-display: swap;
  src: url("../fonts/Inter-VariableFont_slntwght.woff2") format("woff2-variations");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  font-display: swap;
  src: url("../fonts/Inter-VariableFont_slntwght.woff2") format("woff2-variations");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  font-display: swap;
  src: url("../fonts/Inter-VariableFont_slntwght.woff2") format("woff2-variations");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.submenu-button {
  position: relative;
}

.submenu {
  position: absolute;
  z-index: 1;
  display: none;
  background: #fff;
  border: 1px solid #ebebeb;
  padding: 5px;
  top: 100%;
}

.submenu.show {
  position: absolute;
  display: block;
}

.submenu_to-left {
  right: 0;
}

.submenu_to-right {
  left: 0;
}

.submenu_center {
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.burger-menu {
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 4 !important;
  width: 100%;
  height: 100%;
  font-size: 30px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-transition: right 0.5s ease;
  -o-transition: right 0.5s ease;
  transition: right 0.5s ease;
}

.burger-menu.active {
  right: 0;
}

.burger-menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  overflow: auto;
  background: #fcd900;
  min-height: 100%;
}

.burger-menu__body ul {
  margin: 0 auto;
  width: 100%;
}

.burger-menu__body ul .fs-element:not(:last-child) {
  border-bottom: 1px solid #000;
}

.burger-menu__body ul .fs-element a {
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 25px 0 25px 0;
  color: #000;
}

.burger-btn {
  z-index: 5;
  display: block;
  cursor: pointer;
  padding: 10px;
}

.burger-btn__svg * {
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  transform-box: fill-box;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.burger-btn.active .burger-btn__rect-top {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger-btn.active .burger-btn__rect-center {
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  height: 0;
}

.burger-btn.active .burger-btn__rect-bottom {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

._container {
  margin: auto;
}

._contain-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

._cover-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

._op-05 {
  opacity: 0.5;
}

._op-07 {
  opacity: 0.7;
}

._text {
  line-height: 1.3;
}

._title-main {
  font-size: 3.333333333333333rem;
}

._title-2 {
  font-size: 2.666666666666667rem;
}

._title-3 {
  font-size: 1.666666666666667rem;
}

._title-4 {
  font-size: 1.333333333333333rem;
}

._title-5 {
  font-size: 1rem;
}

._subtitle {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.111111111111111rem;
  opacity: 0.3;
  line-height: 1.6;
}

._yellow-decor {
  position: relative;
  display: inline-block;
  z-index: 1;
}

._yellow-decor:after {
  position: absolute;
  z-index: -1;
  top: 60%;
  left: -1%;
  display: inline-block;
  width: 102%;
  height: 30%;
  background: #fcd900;
  content: '';
}

._text-ref {
  text-decoration: underline;
  color: inherit;
}

._text-ref:hover,
._text-ref:focus {
  text-decoration: none;
}

._big-line-height {
  line-height: 1.6;
}

._yellow-ref {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px 10px 30px;
  background: #fcd900;
  color: #000;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

._yellow-ref:hover,
._yellow-ref:focus {
  background: #f3d302;
}

._yellow-ref:hover:after,
._yellow-ref:focus:after {
  -webkit-transform: translate3d(50%, 0, 0);
          transform: translate3d(50%, 0, 0);
}

._yellow-ref:after {
  display: inline-block;
  margin-left: 40px;
  -webkit-transform: translateY(1px);
      -ms-transform: translateY(1px);
          transform: translateY(1px);
  width: 0.8em;
  height: 0.8em;
  background: url("../img/icons/ref-arrow.svg") no-repeat center/contain;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  content: '';
}

._yellow-btn {
  border-radius: 4px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 7px 15px;
  opacity: 0.7;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

._yellow-btn.active,
._yellow-btn:hover,
._yellow-btn:focus {
  background: #fcd900;
  opacity: 1;
}

._transparent-ref {
  padding: 10px 0;
  color: #000;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 1rem;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

._transparent-ref:hover:after,
._transparent-ref:focus:after {
  -webkit-transform: translate3d(50%, 2px, 0);
          transform: translate3d(50%, 2px, 0);
}

._transparent-ref:after {
  display: inline-block;
  margin-left: 15px;
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
  width: 0.8em;
  height: 0.8em;
  background: url("../img/icons/ref-arrow.svg") no-repeat center/contain;
  content: '';
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

._block-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

._block-small-padding {
  padding-top: 80px;
  padding-bottom: 80px;
}

.main-text-wrapper >*:not(:last-child) {
  margin: 0 0 25px 0;
}

.main-text-wrapper__body >*:not(:last-child) {
  margin: 0 0 25px 0;
}

.main-text-wrapper__subtitle {
  margin-bottom: 0 !important;
}

.main-text-wrapper__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-text-wrapper__footer >*:not(:last-child) {
  margin: 0 15px 0 0;
}

.read-more-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.read-more-card >*:not(:last-child) {
  margin: 0 0 25px 0;
}

.read-more-card__title {
  margin-bottom: 5px !important;
}

.read-more-card__ref {
  font-weight: 600;
}

.read-more-card__ref_blue {
  color: #035397;
}

.read-more-card__ref_blue:after {
  background: url("../img/icons/ref-arrowBlue.svg") no-repeat center/contain;
  width: 1em;
  height: 1em;
}

.news {
  display: grid;
  grid-template: 'prev title' auto 'prev text' auto 'prev ref' auto/0.8fr 1.2fr;
  gap: 15px 43px;
}

.news__preview {
  grid-area: prev;
}

.news__title {
  grid-area: title;
}

.news__text {
  grid-area: text;
}

.news__ref {
  grid-area: ref;
}

.navigation__body >*:not(:last-child) {
  margin: 0 0 12px 0;
}

.navigation__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.navigation__bar >*:not(:last-child):after {
  display: inline-block;
  height: 0.6em;
  padding: 0 20px;
  background: url("../img/icons/ref-arrow.svg") no-repeat center/contain;
  content: '';
}

.navigation__nav-item {
  color: var(--text-c);
}

.navigation__nav-item:hover,
.navigation__nav-item:focus {
  text-decoration: underline;
}

.bg-wrapper {
  position: relative;
  background: url("../img/aboutUsBg.jpg") no-repeat top/100% 100%;
}

.bg-wrapper >*:not(:last-child) {
  margin: 0 0 50px 0;
}

.bg-wrapper_fixed-bg-height {
  background-size: 100% 40%;
}

.contact-cards__body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 15px;
}

.contact-cart {
  --childMargin: 25px;
}

.contact-cart__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 45px;
  border: 1px solid #dfdfdf;
}

.contact-cart__body >*:not(:last-child) {
  margin: 0 0 var(--childMargin) 0;
}

.contact-cart__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.contact-cart__header >*:not(:last-child) {
  margin-bottom: calc(var(--childMargin) - 20px);
}

.contact-cart__header >* {
  display: inline-block;
}

.contact-cart__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.contact-cart__block >*:not(:last-child) {
  margin: 0 0 5px 0;
}

.contact-cart__subtitle {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}

.contact-cart__data {
  font-size: 18px;
  color: #000;
}

.contact-cart__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
}

.contact-cart__footer >*:not(:last-child) {
  margin: 0 15px 0 0;
}

.contact-cart__footer_vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.contact-cart__footer_vertical >*:not(:last-child) {
  margin: 0 0 var(--childMargin) 0;
}

.news-section__body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 30px;
}

.news-detail__body >*:not(:last-child) {
  margin: 0 0 20px 0;
}

.news-detail__main-image {
  padding-bottom: 20px;
}

.list__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list__li:before {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 12px;
  background: url("../img/icons/agree.svg") no-repeat center/contain;
  content: '';
}

.footer {
  background: url("../img/footerBackground.jpg") no-repeat center/cover;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.footer__top {
  padding: 60px 0;
}

.footer__top .footer__block-wrapper >*:not(:last-child) {
  margin: 0 0 100px 0;
}

.footer__top-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.footer__top-top >*:not(:last-child) {
  margin: 0 50px 0 0;
}

.footer__questions {
  font-size: 1.666666666666667rem;
  line-height: 1.2;
  color: #000;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.footer__contacts >*:not(:last-child) {
  margin: 0 40px 20px 0;
}

.footer__contact {
  max-width: 200px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.footer__top-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  margin-right: 150px;
}

.footer__lists >*:not(:last-child) {
  margin: 0 30px 20px 0;
}

.footer__ref-list-title {
  display: inline-block;
  margin-bottom: 15px;
}

.footer__ref-li {
  font-size: 0.888888888888889rem;
}

.footer__ref {
  padding: 15px 0;
  color: inherit;
}

.footer__ref:hover,
.footer__ref:focus {
  text-decoration: underline;
}

.footer__career {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.footer__bottom {
  background: #fff;
  padding: 18px 0;
  border-top: 1px solid #dfdfdf;
  font-size: 0.777777777777778rem;
}

.footer__bottom .footer__block-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 2;
}

.footer__bottom .footer__block-wrapper >*:not(:last-child) {
  margin: 0 15px 0 0;
}

.footer__policy {
  color: inherit;
}

.footer__policy:hover,
.footer__policy:focus {
  text-decoration: underline;
}

.contact {
  display: grid;
  grid-template: 'icon title' auto 'icon data' auto '. ref' auto/36px 1fr;
  gap: 5px 16px;
}

.contact__icon {
  grid-area: icon;
}

.contact__title {
  grid-area: title;
  font-family: Inter;
  font-size: 0.777777777777778rem;
}

.contact__data {
  grid-area: data;
  font-size: 1rem;
}

.contact__ref {
  grid-area: ref;
  color: inherit;
  font-family: Inter;
  font-size: 0.722222222222222rem;
  text-decoration: underline;
}

.contact__ref:hover,
.contact__ref:focus {
  text-decoration: none;
}

.career {
  display: grid;
  grid-template: 'icon title' auto 'icon text' auto '. ref' auto/64px 1fr;
  gap: 20px 35px;
}

.career__icon {
  grid-area: icon;
}

.career__title {
  grid-area: title;
  font-size: 1.777777777777778rem;
}

.career__text {
  grid-area: text;
  font-size: 0.888888888888889rem;
}

.career__ref {
  grid-area: ref;
  margin-top: 25px;
}

.header {
  position: relative;
  z-index: 5;
  --text-top-color: #000;
  --text-bottom-color: #000;
  --border-color: #ebebeb;
}

.header_bottom-shadow {
  -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.05);
          box-shadow: 0 10px 20px rgba(0,0,0,0.05);
}

.header__body {
  width: 100%;
}

.header__body >* {
  padding: 20px;
}

.header__top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid var(--border-color);
}

.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--text-bottom-color);
}

.header._top-blue {
  --text-top-color: #fff;
}

.header._top-blue .header__top {
  background: #035397;
  color: #fff;
}

.header._bottom-blue {
  --text-bottom-color: #fff;
}

.header._bottom-blue .header__bottom {
  background: #001e6c;
}

.navmenu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.navmenu__list li :not(:last-child) {
  margin-right: 10px;
}

.navmenu__list li a,
.navmenu__list li button {
  padding: 4px 8px 4px 8px;
  font-size: 1rem;
  color: inherit;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.navmenu__ref {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  overflow: hidden;
}

.navmenu__ref:hover:after,
.navmenu__ref:focus:after {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.navmenu__ref:after {
  display: inline-block;
  height: 2px;
  background: #dadada;
  width: 100%;
  -webkit-transform: translate3d(-130%, 0, 0);
          transform: translate3d(-130%, 0, 0);
  -webkit-transition: all 0.2s ease-in 0s;
  -o-transition: all 0.2s ease-in 0s;
  transition: all 0.2s ease-in 0s;
  content: '';
}

.navmenu__menu-btn.active svg {
  -webkit-transform: rotate(180deg) translateY(20%);
      -ms-transform: rotate(180deg) translateY(20%);
          transform: rotate(180deg) translateY(20%);
}

.navmenu__menu-btn svg {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateY(-40%);
      -ms-transform: translateY(-40%);
          transform: translateY(-40%);
}

.navmenu__menu {
  color: #000;
  -webkit-transform: translate3d(7px, 0, 0);
          transform: translate3d(7px, 0, 0);
}

.logo {
  z-index: 10;
  color: var(--text-top-color);
  font-size: 36px;
  font-weight: bold;
}

.telephone {
  display: grid;
  grid-template: 'icon text' auto 'icon number' auto/28px 1fr;
  gap: 0 11px;
  color: inherit;
  justify-self: start;
}

.telephone__icon {
  grid-area: icon;
}

.telephone__text {
  grid-area: text;
  font-family: Inter;
  font-size: 0.666666666666667rem;
}

.telephone__number {
  grid-area: number;
  font-size: 0.888888888888889rem;
}

.right-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  justify-self: end;
}

.right-block >*:not(:last-child) {
  margin: 0 40px 0 0;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials >*:not(:last-child) {
  margin: 0 30px 0 0;
}

.social path {
  fill: var(--text-top-color);
}

.lang-menu {
  color: inherit;
}

.lang-menu__view-wrapper {
  display: grid;
  grid-template: 'flag title' auto 'flag name' auto/30px 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: start;
  gap: 0 5px;
}

.lang-menu__lang-icon {
  grid-area: flag;
}

.lang-menu__lang-name {
  grid-area: name;
}

.lang-menu__text {
  grid-area: title;
}

.lang-menu__submenu {
  width: 100%;
  top: 110% !important;
}

.lang-menu__submenu span {
  display: block;
  padding: 5px;
}

.lang-menu__submenu span:hover,
.lang-menu__submenu span:focus {
  text-decoration: underline;
}

body {
  height: 100%;
  color: var(--text-c);
  font: calc((100vw - 20rem)/(80 - 20) * (1 - 0.666666666666667) + 0.666666666666667rem) var(--main-font-family);
}

body button {
  color: var(--text-c);
  font-size: calc((100vw - 20rem)/(80 - 20) * (1 - 0.666666666666667) + 0.666666666666667rem);
}

.main {
  background: var(--bg);
}

.main._gray-bg {
  --bg: #faf9f9;
}

.main_overflow-hidden {
  overflow: hidden;
}

.hero__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 600px;
  padding: 15px 0 50px 0;
}

.hero__content {
  width: 50%;
}

.hero__content >*:not(:last-child) {
  margin: 0 0 10px 0;
}

.hero__text {
  text-shadow: 0 0 10px #fff;
}

.hero__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.hero__footer >*:not(:last-child) {
  margin: 0 15px 0 0;
}

.hero-slider__pag .swiper-pagination-bullet {
  background: #fff;
  opacity: 0.5;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.hero-slider__pag .swiper-pagination-bullet-active {
  opacity: 1;
}

.about {
  padding-top: 95px;
}

.about__body {
  display: grid;
  grid-template-columns: 1.4fr 0.6fr;
  gap: 0 114px;
}

.about__advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.about__advantages >*:not(:last-child) {
  margin: 0 0 50px 0;
}

.advantage {
  display: grid;
  grid-template: 'icon title' auto 'icon text' auto/54px 1fr;
  gap: 5px 15px;
}

.advantage__icon {
  align-self: start;
  grid-area: icon;
}

.advantage__title {
  grid-area: title;
}

.advantage__text {
  grid-area: text;
}

.what-we-do {
  background: url("../img/whatWeDoBg.jpg") no-repeat center/cover;
}

.what-we-do__body {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 114px;
  padding-bottom: 350px;
}

.what-we-do__ref {
  color: inherit;
}

.how-we-do__body >*:not(:last-child) {
  margin: 0 0 60px 0;
}

.how-we-do__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
  width: 100%;
}

.tabs {
  -webkit-box-shadow: 0 -45px 40px rgba(0,0,0,0.06);
          box-shadow: 0 -45px 40px rgba(0,0,0,0.06);
  border-bottom: 1px solid #dfdfdf;
}

.tabs__body {
  padding-top: 0 !important;
  margin-bottom: -190px;
  -webkit-transform: translate3d(0, -190px, 0);
          transform: translate3d(0, -190px, 0);
}

.tabs__content {
  display: grid;
  grid-template-columns: 1.8fr minmax(330px, 0.2fr);
  padding-top: 65px;
  gap: 30px 70px;
}

.tabs__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.tabs__buttons >*:not(:last-child) {
  margin: 0 0 10px 0;
}

.tabs__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  line-height: 1.4;
  width: 250px;
  height: 190px;
  text-align: center;
  font-size: 18px;
  -webkit-transform: translate(0, 1px);
      -ms-transform: translate(0, 1px);
          transform: translate(0, 1px);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.tabs__button >*:not(:last-child) {
  margin: 0 0 15px 0;
}

.tabs__button.active,
.tabs__button:hover {
  z-index: 1;
  background: rgba(255,255,255,0.586);
}

.tabs__button.active {
  position: relative;
  background: #fff;
  -webkit-box-shadow: 0 -15px 40px rgba(0,0,0,0.1);
          box-shadow: 0 -15px 40px rgba(0,0,0,0.1);
}

.tabs__main >*:not(:last-child) {
  margin: 0 0 50px 0;
}

.tabs__sidepanel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.tabs__sidepanel >*:not(:last-child) {
  margin: 0 0 40px 0;
}

.tabs__meeting .meeting__content {
  min-width: 300px;
}

.tabs__contacts >*:not(:last-child) {
  margin: 0 0 20px 0;
}

.tabs__machines {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 30px;
}

.tabs__machine >*:not(:last-child) {
  margin: 0 0 10px 0;
}

.machine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  text-align: center;
}

.machine__title {
  font-size: 1rem;
}

.meeting {
  position: relative;
  padding: 30px 40px;
  background: #fafafa;
  border-bottom: 2px solid #dbbd02;
}

.meeting__content {
  display: grid;
  grid-template: 'title icon' auto 'subtitle icon' auto/1fr 57px;
  gap: 5px 50px;
}

.meeting__title {
  grid-area: title;
  font-size: 1.222222222222222rem;
}

.meeting__subtitle {
  grid-area: subtitle;
  font-size: 0.777777777777778rem;
}

.meeting__subtitle:after {
  display: inline-block;
  margin-left: 5px;
  width: 0.5em;
  height: 0.5em;
  background: #28cba4;
  border-radius: 50%;
  content: '';
}

.meeting__icon {
  grid-area: icon;
}

.contact__title {
  font-size: 0.888888888888889rem;
  font-weight: 500;
}

.contact__title_bold {
  font-weight: 700;
}

.contact__contact-data {
  font-size: 1.222222222222222rem;
}

.our-news {
  background: url("../img/newsBg.png") no-repeat 0 0/contain;
}

.our-news_no-bg {
  background: none;
}

.our-news__body >*:not(:last-child) {
  margin: 0 0 60px 0;
}

.our-news__news-block {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 40px;
}

._animate-trn {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

._animate-trn_long {
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

._about-title {
  -webkit-transform: translate3d(50%, 0, 0);
          transform: translate3d(50%, 0, 0);
  opacity: 0;
}

._about-title.active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  opacity: 1;
}

._about-subtext {
  display: inline-block;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}

._about-subtext.active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 0.3;
}

._about-text {
  -webkit-transform: translate3d(50%, 0, 0);
          transform: translate3d(50%, 0, 0);
  opacity: 0;
}

._about-text.active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  opacity: 1;
}

._about-footer {
  -webkit-transform: translate3d(0, 50px, 0);
          transform: translate3d(0, 50px, 0);
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

._about-footer.active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  opacity: 1;
}

._about-advantage-1 {
  -webkit-transform: translate3d(50%, 0, 0);
          transform: translate3d(50%, 0, 0);
  opacity: 0;
}

._about-advantage-1.active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  opacity: 1;
}

._about-advantage-2 {
  -webkit-transform: translate3d(50%, 0, 0);
          transform: translate3d(50%, 0, 0);
  opacity: 0;
}

._about-advantage-2.active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  opacity: 1;
}

._about-advantage-3 {
  -webkit-transform: translate3d(50%, 0, 0);
          transform: translate3d(50%, 0, 0);
  opacity: 0;
}

._about-advantage-3.active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  opacity: 1;
}

._what-do-subtitle {
  display: inline-block;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}

._what-do-subtitle.active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 0.3;
}

._what-do-title {
  -webkit-transform: translate3d(30%, 0, 0);
          transform: translate3d(30%, 0, 0);
  opacity: 0;
}

._what-do-title.active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  opacity: 1;
}

._what-do-refs {
  -webkit-transform: translate3d(20%, 0, 0);
          transform: translate3d(20%, 0, 0);
  opacity: 0;
}

._what-do-refs.active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  opacity: 1;
}

#firstSlide ._anim-main-title {
  -webkit-transform: translate3d(0, 30px, 0);
          transform: translate3d(0, 30px, 0);
  opacity: 0;
}

#firstSlide ._anim-main-title.active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  opacity: 1;
}

#firstSlide ._anim-main-text {
  -webkit-transform: translate3d(0, 30px, 0);
          transform: translate3d(0, 30px, 0);
  opacity: 0;
}

#firstSlide ._anim-main-text.active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  opacity: 1;
}

#firstSlide ._anim-main-footer {
  -webkit-transform: translate3d(0, 30px, 0);
          transform: translate3d(0, 30px, 0);
  opacity: 0;
}

#firstSlide ._anim-main-footer.active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  opacity: 1;
}

@media (min-width: 768px) {
  .burger-menu {
    display: none;
  }

  .burger-btn {
    display: none;
  }

  html {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  html::-webkit-scrollbar {
    width: 0;
  }
}

@media (min-width: 800px) {
  .tabs__meeting {
    padding-right: 50vw !important;
  }
}

@media (min-width: 1200px) {
  .news__preview img {
    -o-object-fit: cover;
       object-fit: cover;
  }

  .news__title {
    padding-top: 35px;
  }

  .news__ref {
    margin-top: 25px;
    margin-bottom: 35px;
  }
}

@media (min-width: 1440px) {
  ._container {
    width: 70%;
  }
}

@media (min-width: 1500px) {
  .our-news {
    background-position: 20vw 0;
    background-size: 70vw;
  }
}

@media (max-width: 1440px) {
  ._block-small-padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media (max-width: 1200px) {
  .news__ref {
    width: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .news__ref:after {
    margin-left: 15px;
  }

  .news-section__body {
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  }

  .our-news__news-block {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 1100px) {
  ._title-2 {
    font-size: 2rem;
  }

  .about__body {
    gap: 0 50px;
  }
}

@media (max-width: 1050px) {
  .tabs__content {
    grid-template-columns: 1.8fr minmax(200px, 0.2fr);
  }

  .tabs__meeting .meeting__content {
    min-width: 200px;
  }
}

@media (max-width: 1000px) {
  .footer__top-bottom {
    display: grid;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    gap: 20px 0;
  }

  .footer__lists {
    margin-right: 0;
  }

  .hero__content {
    width: 70%;
  }
}

@media (max-width: 900px) {
  .footer__top-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__top-top >*:not(:last-child) {
    margin: 0 0 30px 0;
  }

  .footer__contacts {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .what-we-do__body {
    gap: 0 70px;
    padding-bottom: 250px !important;
  }
}

@media (max-width: 800px) {
  .tabs__content {
    grid-template-columns: 1fr;
  }

  .meeting__content {
    grid-template: 'title' auto 'subtitle' auto/1fr;
    text-align: center;
  }

  .meeting__icon {
    position: absolute;
    top: -10%;
    left: 5%;
    -webkit-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }

  .tabs-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .tabs-contacts__contact {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}

@media (max-width: 768px) {
  ._title-main {
    font-size: 2.666666666666667rem;
  }

  ._title-2 {
    font-size: 1.555555555555556rem;
  }

  ._title-3 {
    font-size: 1.444444444444444rem;
  }

  ._title-4 {
    font-size: 1.111111111111111rem;
  }

  ._yellow-decor:after {
    display: none;
  }

  ._yellow-decor {
    display: inline;
    background: #fcd900;
    padding: 0 2px;
  }

  ._yellow-ref:after {
    margin-left: 15px;
  }

  ._block-padding {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  ._block-small-padding {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .contact-cards__body {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .contact-cart__body {
    padding: 15px;
    text-align: center;
  }

  .contact-cart__footer_vertical {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .contact-cart__footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__top .footer__block-wrapper >*:not(:last-child) {
    margin: 0 0 50px 0;
  }

  .header__bottom {
    padding: 0;
  }

  .navmenu {
    display: none;
  }

  .telephone {
    background: #fff;
    padding: 5px;
    border-radius: 4px;
  }

  .right-block >*:not(:last-child) {
    margin: 0 0 0 0;
  }

  .socials {
    display: none;
  }

  .lang-menu {
    display: none;
  }

  .about__body {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .about__advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .about__advantages >*:not(:last-child) {
    margin: 0 0 0 0;
  }

  .about__advantages >* {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding: 15px;
  }

  .how-we-do__cards {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .tabs__buttons {
    overflow: auto;
  }

  .tabs__sidepanel {
    padding-top: 30px;
  }

  .tabs__sidepanel >*:not(:last-child) {
    margin: 0 0 15px 0;
  }
}

@media (max-width: 700px) {
  .hero__content {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .footer__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }

  .header__top {
    grid-template-columns: auto 1fr;
  }

  .telephone._mob-hidded {
    display: none;
  }

  .what-we-do__body {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 30px;
  }

  .our-news__news-block {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  .meeting__icon {
    top: -70%;
    left: -5%;
  }
}

@media (max-width: 426px) {
  ._container {
    width: 95%;
  }

  ._title-main {
    font-size: 2rem;
  }

  ._block-padding {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  ._block-small-padding {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .read-more-card >*:not(:last-child) {
    margin: 0 0 15px 0;
  }

  .navigation__bar >*:not(:last-child):after {
    padding: 0 10px;
  }

  .contact-cart__subtitle {
    font-size: 12px;
  }

  .footer__top {
    padding: 25px 0;
  }

  .footer__top-bottom {
    gap: 50px 0;
  }

  .footer__lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    text-align: center;
  }

  .footer__lists >*:not(:last-child) {
    margin: 0 0 20px 0;
  }

  .footer__ref-list-title {
    text-decoration: underline;
  }

  .hero__body {
    min-height: 400px;
  }

  .hero__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .hero__footer >*:not(:last-child) {
    margin: 0 0 10px 0;
  }

  .how-we-do__body >*:not(:last-child) {
    margin: 0 0 30px 0;
  }

  .how-we-do__cards {
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }

  .how-we-do__cards >* {
    min-width: 300px;
  }

  .meeting {
    padding: 10px;
  }

  .our-news__body >*:not(:last-child) {
    margin: 0 0 30px 0;
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  ._container {
    width: 80%;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  ._container {
    width: 90%;
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  .news {
    grid-template: 'prev' 300px 'title' auto 'text' auto 'ref' auto/1fr;
    gap: 20px;
    text-align: center;
  }
}