fontStyle('Inter', woff2-variations, Inter-VariableFont_slntwght, 100, normal)
fontStyle('Inter', woff2-variations, Inter-VariableFont_slntwght, 200, normal)
fontStyle('Inter', woff2-variations, Inter-VariableFont_slntwght, 300, normal)
fontStyle('Inter', woff2-variations, Inter-VariableFont_slntwght, 400, normal)
fontStyle('Inter', woff2-variations, Inter-VariableFont_slntwght, 500, normal)
fontStyle('Inter', woff2-variations, Inter-VariableFont_slntwght, 600, normal)
fontStyle('Inter', woff2-variations, Inter-VariableFont_slntwght, 700, normal)
fontStyle('Inter', woff2-variations, Inter-VariableFont_slntwght, 800, normal)
fontStyle('Inter', woff2-variations, Inter-VariableFont_slntwght, 900, normal)
fontStyle('Roboto', woff2, Roboto-Bold, 700, normal)
fontStyle('Roboto', woff2, Roboto-Medium, 500, normal)
fontStyle('Roboto', woff2, Roboto-Regular, 400, normal)
